doctype html
html(lang="en")
  head
    title Bollo Bot
  body
    h2 Welcome to Bollo Bot v.!{version}
    hr
    h3 Bot:
    p <strong>Status:</strong> !{botStatus}
    p <strong>Time:</strong>  !{date}
    p <strong>Current requests:</strong>  !{currentReq}
    p <strong>Past hour requests:</strong> !{requests}
    hr
    h4 Created by dascr32 | v.1.0
      
